@use '../base/reset';
@use '../themes/themes';
@use '../variables/variables' as *;

.App-light,
.App-dark {
  background: var(--main-bg-color);
  padding: $size-15 0.75rem;
  transition: $transition-1;

  .Sidebar,
  .Main {
    background: var(--container-bg);
    border: 1px solid var(--container-border);
    color: var(--primary-text-color);
    transition: $transition-1;
  }
}