@use '../variables/colors' as *;
@use '../variables/variables' as *;

.CurrentLocation {
    @include flexbox (flex, center, center);
    border-radius: 1.563rem;
    gap: $size-10;
    padding: 0.313rem 0.75rem;
    transition: $transition-1;

    @media screen and (max-width: $tablet) {
        padding: 0.313rem $size-10;
    }

    i {
        font-size: 1.563rem;
        
        @media screen and (max-width: $tablet) {
            font-size: $size-20;
        }
    }

    span {
        margin-right: 0.313rem;

        @media screen and (max-width: $laptop) {
            display: none;
        }
    }
}