@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Highlights {
    margin-top: $size-30;

    @media screen and (max-width: $tablet) {
        margin-top: $size-15;
    }

    .title {
        font-size: 1.125rem;
        font-weight: $semi-bold;

        @media screen and (max-width: $tablet) {
            font-size: 1rem;
        }
    }

    .info {
        display: grid;
        gap: $size-20;
        grid-template-columns: repeat(4, 1fr);
        margin-top: $size-20;

        @media screen and (max-width: $tablet) {
            gap: $size-15;
            margin-top: $size-10;
        }
    }
}

