@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Highlights {
    margin-top: $size-30;

    @media screen and (max-width: $tablet) {
        margin-top: $size-15;
    }

    .title {
        font-size: 1.125rem;
        font-weight: $semi-bold;

        @media screen and (max-width: $tablet) {
            font-size: 1rem;
        }
    }

    .info {
        display: grid;
        gap: $size-20;
        margin-top: $size-20;

        @media screen and (max-width: $tablet) {
            gap: $size-15;
            margin-top: $size-10;
        }

        @media screen and (min-width: $laptop) {
            grid-template-columns: 1.1fr 1fr;
        } 

        @media screen and (min-width: $desktop) {
            grid-template-columns: 1.05fr 1fr 1fr 1fr;
        } 

        .one,
        .two,
        .three,
        .four {
            background: $primary-bg-color-dark;
            height: 50px;
        }
    }
}

