@use '../variables/colors' as *;
@use '../variables/variables' as *;

.HourlyForecast {
    margin: $size-30 1px 0 0;

    @media screen and (max-width: $tablet) {
        margin-top: $size-15;
    }

    .title {
        font-size: 1.125rem;
        font-weight: $semi-bold;

        @media screen and (max-width: $tablet) {
            font-size: 1rem;
        }
    }

    .hourly-info {
        align-items: end;
        cursor: pointer;
        display: flex;
        gap: $size-20;
        margin-top: $size-20;
        overflow: hidden;

        @media screen and (max-width: $tablet) {
            gap: $size-15;
            margin-top: $size-10;
        }

        .no-text-select {
            @include no-text-select; 
        }
    }
}