@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Main {
    @include container ($container-bg-dark, $container-border-dark);
    animation: $animation-1;
    border-radius: $size-20;
    box-shadow: $shadow-1;
    padding: $size-30;
    transition: $transition-1;

    @media screen and (min-width: $desktop) {
        width: 59.375rem;
    }

    @media screen and (max-width: $desktop) {
        margin: 0 auto 2.813rem auto;
        width: 59.375rem;
    }

    @media screen and (max-width: $laptop) {
        padding: $size-30;
        width: 43.75rem;
    }

    @media screen and (max-width: $tablet) {
        border-radius: $size-15;
        font-size: 0.875rem;
        padding: $size-15;
        width: 32.5rem;
    }

    @media screen and (max-width: $phone) {
        margin: 0;
        width: auto;
    }
}