@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Map {
    border-radius: $size-10;
    grid-column: span 4;
    height: 25rem;
    transition: $transition-1;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: $desktop) {
        grid-column: span 2;
        grid-row: span 2;
        height: auto;
    }

    .render-map {
        border-radius: $size-10;
        height: 25rem;
        transition: $transition-1;
        width: 100%;

        @media screen and (min-width: $desktop) {
            height: 17rem;
        }
    }
}