@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Place {
    @include flexbox (flex, center, left);
    
    @media screen and (max-width: $desktop) {
        @include flexbox (flex, center, center);
    }

    i {
        margin-right: 0.313rem;
        
        @media screen and (min-width: $desktop) {
            font-size: $size-30;
            margin-right: $size-10;
        }
    }
    
    .location {
        @media screen and (max-width: $desktop) {
            display: flex;
        }

        .city {
            font-weight: $semi-bold;
        }

        .country {
            color: $secondary-text-color-dark;
            font-weight: $light;
        }

        .place-date {
            color: $secondary-text-color-dark;
            font-weight: $light;

            @media screen and (min-width: $tablet) {
                display: none;
            }

            span {
                margin: 0 0.5rem;
            }
        }
    }
}