@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Search {
    position: relative;

    i {
        position: absolute;
        top: 1rem;
        left: $size-20;

        @media screen and (max-width: $tablet) {
            top: 0.688rem;
            left: $size-15;
        }
    }

    input {
        @include container ($container-bg-dark, $container-border-dark);
        border-radius: $size-10;
        color: white;
        font-size: 1rem;
        padding: $size-15 $size-20 $size-15 3rem;
        width: 27.2rem;

        @media screen and (max-width: $laptop) {
            width: 20rem;
        }

        @media screen and (max-width: $tablet) {
            font-size: 0.875rem;
            padding: $size-10 $size-20 $size-10 2.313rem;
            width: 16rem;
        }

        @media screen and (max-width: $phone) {
            width: 12.5rem;
        }
    }
}