@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Theme {
    border-radius: 1.563rem;
    cursor: pointer;
    padding: 0.313rem 0.75rem;
    transition: $transition-1;

    @media screen and (max-width: $tablet) {
        padding: 0.313rem $size-10;
    }

    .light-theme-btn,
    .dark-theme-btn {
        display: none;

        &.active {
            animation: $animation-2;
            display: block;
        }
    }

    i {
        font-size: 1.563rem;
        
        @media screen and (max-width: $tablet) {
            font-size: $size-20;
        }
    }
}