@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Weather {
    @include flexbox (flex, center, center);
    margin: $size-30 0;
    gap: $size-15;

    @media screen and (max-width: $desktop) {
        margin: $size-15 0;
    }

    img {
        height: 6.25rem;
    }

    .temperature {
        @include flexbox (flex, start, center);
        font-size: 3rem;
        font-weight: $semi-bold;
        height: 3.75rem;

        span {
            font-size: 1.5rem;
            margin-top: 0.5rem;
        }
    }

    .description {
        font-weight: $light;
        text-align: center;
        text-transform: capitalize;
    }
}