@use '../variables/colors' as *;
@use '../variables/variables' as *;

.Widgets {
    @include flexbox (flex, center, center);
    border-radius: $size-10;
    padding: $size-10 0.75rem $size-20 0.75rem;
    transition: $transition-1;

    @media screen and (max-width: $tablet) {
        padding: 0.313rem $size-15 $size-15 $size-15;
    }

    @media screen and (max-width: $laptop) {
        grid-column: span 2;
    }

    .widget {
        @include flexbox (flex, center, center);
        gap: $size-20;

        @media screen and (max-width: $laptop) {
            gap: $size-15;
        }

        i {
            font-size: 2.188rem;
            height: 1.563rem;
        }

        p {
            font-size: $size-30;
            font-weight: $semi-bold;
            line-height: 2rem;
    
            .widget-name {
                font-size: 0.938rem;
                font-weight: $light;

                @media screen and (max-width: $tablet) {
                    font-size: 0.875rem;
                }
            }

            .widget-unit {
                font-size: 1.125rem;
            }
        }
    }
}