// LIGHT THEME COLORS
$main-bg-color-light: #f0f2f5;
$primary-text-color-light: #050505;
$secondary-text-color-light: #65676b;

// DARK THEME COLORS
$main-bg-color-dark: #121212;
$container-bg-dark: #1e1e1e; 
$container-border-dark: #393939;   
$primary-text-color-dark: #ffffff;
$secondary-text-color-dark: #d6d6d6;