// BASIC COLORS
$white: #ffffff;
$green: #006b3d;
$light-green: #069c56;
$yellow: #ff980e;
$orange: #ff681e;
$red: #d3212c;

// LIGHT THEME COLORS
$main-bg-color-light: #f5f5f5;
$container-bg-light: $white; 
$container-border-light: #e0e0e0;
$primary-bg-color-light: #eeeeee;
$icon-text-color-light: #4d4d4d80;   
$primary-text-color-light: #36373e;
$secondary-text-color-light: #4d4d4d;

// DARK THEME COLORS
$main-bg-color-dark: #121212;
$container-bg-dark: #1e1e1e; 
$container-border-dark: #393939;
$primary-bg-color-dark: #282828;
$icon-text-color-dark: #d6d6d680;   
$primary-text-color-dark: $white;
$secondary-text-color-dark: #d6d6d6;

// GRADIENTS
$bg-gradient-light: linear-gradient(to bottom right, hsla(240, 20%, 98%, 0.6) 0%, hsla(240, 15%, 95%, 0) 100%), hsl(240, 20%, 98%);
$border-gradient-light: linear-gradient(to bottom right, hsl(0, 0%, 85%) 0%, hsla(0, 0%, 85%, 0) 50%);
$bg-gradient-dark: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
$border-gradient-dark: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
$container-gradient: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);

// SHADOWS
$shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
$shadow-2: 0px 5px 10px 5px rgba(0,0,0,0.1);
$shadow-3: 5px 5px 10px hsla(0, 0%, 0%, 0.25);