@use '../variables/colors' as *;

// PX TO REM
$size-10: 0.625rem;
$size-15: 0.938rem;
$size-20: 1.25rem;
$size-30: 1.875rem;

// SCREEN SIZES
$phone: 580px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1250px;

// FONT-WEIGHT
$light: 300;
$semi-bold: 600;

// TRANSITION
$transition-1: 0.5s ease-in-out;

// ANIMATION
$animation-1: fade 0.5s ease backwards;
$animation-2: rotate 1s linear;

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes rotate {
    0% { 
        opacity: 0;
        rotate: (0deg); 
    }

    100% { 
        opacity: 1; 
        rotate: (360deg); 
    }
}

@mixin container ($background, $border) {
    background: $background;
    border: 1px solid $border;
}

@mixin card {
    border-radius: $size-10;
    position: relative;
    width: auto;
    transition: $transition-1;
    z-index: 1;
}

@mixin card-before {
    border-radius: inherit;
    content: "";
    inset: 1px;
    position: absolute;
    transition: $transition-1;
    z-index: -1;
}

@mixin flexbox ($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin no-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}