@use '../variables/colors' as *;
@use '../variables/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
input {
  font-size: 0.938rem;
  font-family: 'Poppins', sans-serif;
}

body.light-theme {
  background: $main-bg-color-light;
  --background: #0000001a;
  --box-shadow: inset 1px 1px 0 #0000001c, inset -1px -1px 0 #0000001c;
  --hover: #00000026;
  --main-bg-color: #{$main-bg-color-light};
}

body.dark-theme {
  background: $main-bg-color-dark;
  --background: #ffffff1a;
  --box-shadow: inset 1px 1px 0 #ffffff1c, inset -1px -1px 0 #ffffff1c;
  --hover: #ffffff26;
  --main-bg-color: #{$main-bg-color-dark};
}

@media screen and (min-width: $desktop) {
  body::-webkit-scrollbar { 
    width: $size-20; 
  }

  body::-webkit-scrollbar-track { 
    background: var(--main-bg-color); 
  }

  body::-webkit-scrollbar-thumb {
    background: var(--background);
    border: 0.313rem solid var(--main-bg-color);
    border-radius: $size-20;
    box-shadow: var(--box-shadow);
  }

  body::-webkit-scrollbar-thumb:hover { 
    background: var(--hover); 
  }

  body::-webkit-scrollbar-button { 
    background: var(--main-bg-color); 
    height: 3.75rem; 
  }
}